{% extends "base.html" %}
{% load  static %}

{% block body  %}

<div class="jumbotron banner">
  <a class="btn btn-primary btn-lg" href="{% url 'blog:create_post' %}" role="button">Add new Post</a>
</div>


        {% for post in all_posts %}
      <div class="col-md--4">
          <div class="card">
            {% if post.img %}
          <img  class="card-img-top"  src="{{post.img.url}}" alt="card-img-top">
            {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.content|safe|truncatewords:10}}</p>
            <h2>{{ post.username }}</h2>
            <a href="{% url 'blog:post' post.id %}" class="btn btn-primary">Know More</a>
          </div>
        </div>
          {% endfor %}

{% endblock body %}
